.Combatant {
    width: 67px;
    height: 19px;
    background: url("/public/images/ui/combatant-plate.png") no-repeat no-repeat;
    position:absolute;
  }
  
  .Battle .Combatant {
    transform: scale(2);
    transition: opacity 0.4s;
  }
  .Battle .Combatant[data-active="false"] {
    opacity: 0;
  }
  .Battle .Combatant[data-active="true"] {
    opacity: 1;
  }
  
  .Combatant[data-team="player"] {
    left: 46px;
    top: 60px;
  }
  .Combatant[data-team="enemy"] {
    top: 30px;
    right: 77px;
  }
  
  .Combatant_character_crop {
    position: absolute;
    bottom: 6px;
    left: 3px;
    width: 18px;
    height: 12px;
    overflow:hidden;
  }
  .Combatant_character {
    display:block;
    position: absolute;
    left: -11px;
    bottom: -7px;
  }
  .Battle .Combatant_character_crop {
    display:none;
  }
  
  .Combatant_name {
    position: absolute;
    left: 2px;
    top:-7px;
    white-space: nowrap;
    background: rgb(172, 47, 30);
    color: #fff;
    font-size: 4px; /*This is only so small because the component is scaled 2x in battle which is weird */
    padding: 1px 2px;
    margin: 0;
    border-radius: 1px;
  }
  .Combatant_type {
    position: absolute;
    left: 4px;
    top: 0px;
    width: 13px;
    height: 13px;
  }
  
  .Combatant_life-container {
    position: absolute;
    left:20px;
    top:4px;
    width: 26px;
    height: 3px;
  }
  .Combatant_life-container > rect {
    transition: width 0.2s;
  }
  
  .Combatant_xp-container {
    position: absolute;
    left:20px;
    top:8px;
    width: 26px;
    height: 2px;
  }
  .Combatant_level {
    position: absolute;
    font-size: 3px;
    right: 4px;
    top: -1px;
    width: 12px;
    height: 11px;
    display:flex;
    align-items: center;
    justify-content: center;
    background: rgb(31, 42, 81);
    border: 1px solid rgb(235, 235, 235);
    border-radius: 50%;
    margin: 0;
    color: white;
    font-weight: 700;
  }
  
  .Combatant_status {
    position: absolute;
    font-size: 3px;
    right: 11px;
    bottom: 3px;
    padding-left: 2px;
    padding-right: 2px;
    background: rgba(0,0,0,0.8);
    color: white;
    margin: 0;
    background: hsl(212, 72%, 19%);
    border-radius: 1px;
    


  }
  .Combatant_status[data-status="regen"] {
    color: rgb(0, 104, 17);
  }
  .Combatant_status[data-status="confusion"] {
    background: #590281;
  }
  
  .Teacher {
    position: absolute;
    transform: scale(1.7);
    transition: opacity 0.4s, transform 0.4s;
    background: url(/public/images/characters/teachers/teacher-shadow.png) no-repeat no-repeat;
  }
  .Teacher[data-team="player"] {
    bottom: 75px;
    left: 51px;
  }
  .Teacher[data-team="enemy"] {
    top: 65px;
    right: 75px;
  }
  .Teacher[data-active="false"] {
    opacity:0;
    transform: translate3d(0,16px,0) scale(2);
  }
  .Teacher[data-active="true"] {
    opacity:1;
  transform: translate3d(0,0,0) scale(2);

  }